@import 'antd/dist/reset.css';

.action {
    background-color: black;
    color: white;
}

.create {
    background-color: black;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 0px;
    margin-left: 700px;
}

.home_table {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
