.logoutButton {
    background-color: black;
    color: white;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    right: 50px;
    text-align: center;
    cursor: pointer;
}

.tokenName {
    position: absolute;
    top: 20px;
    right: 30px;
    font-weight: bold;
}